html
	head
		title Profile
	body
		nav
			div
				a(href="/logout") Log Out
			div
				a(href="/") Index
		h1 Welcome to your profile #{user.firstname}!
		h2
			a(href='/post') Click here to view all posts!
		h2
			a(href='/myposts') Click to view all your posts!